.btn {
  height: 48px;
  background: #fff;
  border: 1px solid #E2E3E5;
  border-radius: var(--standart-radius);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  padding: 0;
  cursor: inherit;
}


.btn_wide {
  grid-column: 1/3;
  width: auto;
}

.btn_color {
  background: var(--iris-color);
  color: #fff;
  height: 100%;
}
