.calculator {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 240px;
}

.calculator__container {
  display: grid;
  grid-gap: 8px;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding: 4px;
  border-radius: 4px;
  box-sizing: border-box;
}

.calculator__disp-cont {
  height: 60px;
  justify-content: inherit;
}

.calculator__disp-wrapper {
  width: 100%;
  height: 100%;
  background: #F3F4F6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator__display {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #111827;
  margin: 0;
  text-align: end;
  padding-right: 8px;
}

.calculator__num-cont {
  grid-template-columns: repeat(3, 72px);
}

.calculator__symb-cont {
  grid-template-columns: repeat(4, 52px);
}

.calculator__equal-cont {
  height: 72px;
  justify-content: inherit;
}

