.calculator {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 240px;
  transition: all 0.4s;
}

.calculator__container {
  display: grid;
  grid-gap: 8px;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.calculator__disp-cont {
  height: 60px;
  justify-content: inherit;
}

.calculator__disp-wrapper {
  width: 100%;
  height: 100%;
  background: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 6px;
}

.calculator__display {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #111827;
  margin: 0;
  text-align: end;
  padding: 0 8px;
  white-space: nowrap;
  max-width: 232px;
  box-sizing: border-box;
}

.calculator__num-cont {
  grid-template-columns: repeat(3, 72px);
}

.calculator__symb-cont {
  grid-template-columns: repeat(4, 52px);
}

.calculator__equal-cont {
  height: 72px;
  justify-content: inherit;
}

.calculator_inactive {
  display: none;
}

.calculator__line {
  width: 244px;
  position: absolute;
  left: -2px;
  display: none;
}

.calculator__line_top {
  top: -6px;
}

.calculator__line_bottom {
  bottom: -8px;
}

.calculator__line_active {
  display: block;
}

.calculator__container_inactive {
  opacity: 0.5;
  box-shadow: none;
}

.calculator__container_dragging {
  opacity: 0.5;
}

.calculator_dropped {
  gap: 8px;
}

.calculator_dropped > div {
  box-shadow: none;
}

.calculator_invisible {
  transform: translateX(-100vw);
  visibility: hidden;
}

@media (max-width: 580px) {
  .calculator_invisible {
    display: none;
  }
}

